<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portada</title>
    </head>
    <body>
    <h1>Portada</h1>
            <nav>
                <ul>
                    <li>Institucion: Instituto Tecnologico Superior de la Sierra Norte de Puebla</li>
                    <li>Carrera: Ingenieria Informatica</li>
                    <li>Estudiante: Salvador Octavio Garcia Luna</li>
                    <li>Materia: Desarrollo Web Avanzado</li>
                    <li>Catedrático: Adolfo Luna Sanchez</li>
                    <li>Semestre:8° Octavo Semestre</li>
                    <li>Fecha: 20/05/2021</li>
                </ul>
                </nav>
    </body>
</html>